<div class="container">
    <!---->
<img src="https://www.seminaire-bretagne-entreprise.fr/images/css/accueil/img-guides-accueil.jpg" alt="Equipe" class="img-fluid">
    <h2>À PROPOS</h2>
    <p>
        Fièrement québécoise depuis 2010, CaptainForfait c’est avant tout une histoire humaine. 
        Celle d’une équipe regroupant des talents locaux issus de divers milieux et expertises, 
        tous habités d’une volonté commune: Celle de permettre à tous les Québécois.es de vivre des expériences uniques! </p>
    <p> 
        La satisfaction de la clientèle est prioritaire et notre équipe de conseillers est disponible en tout temps pour répondre 
        à vos questions et vous assistez lors de votre achat ou lors de l’utilisation de votre forfait. La satisfaction de nos clients est garantie!
        Nous avons des milliers d’offres de forfait à présenter à tous les Québécois.es.
    </p>
    <p>Notre organisation offre des économies substantielles sur tes activités seules ou en famille, tes sorties aux restos, tes escapades, 
        tes nuitées à l’hôtel, tes soins de beauté... <em> Bref sur ce qui fait plaisir au quotidien et à moindre coût.</em></p>

<app-grafik1></app-grafik1>

<!--<app-grafik2></app-grafik2>--> <!-- Ne fonctionne pas, je comprends pas pourquoi-->
</div>
