<div>
    <button mat-button>Accueil</button>

    <button mat-button [matMenuTriggerFor]="belowMenu">Forfaits</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Catégories</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Hébergement</button>
    <button mat-menu-item>Restauration</button>
    <button mat-menu-item>Activités</button>
    <button mat-menu-item>Détente</button>
    
    </mat-menu>


    <button mat-button>Contact</button>
</div>

