:host{
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}

.example-container {
    width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

