<div class="flex-card">
  <app-groupe-forfaits *ngFor="let f of forfaits | premium" [forfait]="f"></app-groupe-forfaits>
</div>
<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h3>Quel type de forfait recherchez-vous?</h3>
      <app-formulaire-recherche [(categorie)]="categorie" [(etablissement)]="etablissement"></app-formulaire-recherche>
      <!--<p *ngIf="showFiller">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>-->
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Affiner ma recherche
      </button>
    </div>

  <div>
    Choix de type de forfait: {{categorie}} {{etablissement}}
  </div>
  <app-forfait *ngFor="let f of forfaits" [forfait]="f"></app-forfait>

 
</mat-drawer-container>
</div>

