/* You can add global styles to this file, and also import other style files */

.flex-container {
    display: flex;
}

.flex-card {
    display: flex;
    justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color {
    color: red;
    font-size: 3.5rem;
    font-weight: 700;
}

.prix {
    font-size: 3.5rem;
    font-weight: 700;
}

.line {
    text-decoration: line-through;
  }
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 0 10px;
}

.space {
    margin-left: 20px;
}

.textarea-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.textarea-full-width {
    width: 100%;
  }

.form {
    background-color: white;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}

.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }