/* You can add global styles to this file, and also import other style files */

.flex-container {
    display: flex;
}

.flex-card {
    display: flex;
    justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color {
    color: red;
    font-size: 3.5rem;
    font-weight: 700;
}

.line {
    text-decoration: line-through;
  }
  
