<div class="flex-container">
  <button mat-button (click)="openDialog(undefined)">Ajouter un forfait</button>

  <!--Formulaire d'ajout-->
  <!--
  <form #forfaitFormAjout="ngForm">
    <mat-form-field>
      <mat-label>Forfait</mat-label>
      <input matInput placeholder="Ex. Forfait" required minlength="2" maxlength="50" name="nom" 
      [(ngModel)]="newForfait.nom" #nom="ngModel" (keyup.enter)="addForfait(forfaitFormAjout);">
    </mat-form-field>
    <button mat-fab color="primary" aria-label="Ajouter" (click)="openDialog(undefined)" [disabled]="!forfaitFormAjout.form.valid"
    (click)="addForfait(forfaitFormAjout);">
      <mat-icon>add</mat-icon>
    </button>-->

    <!--Validation error--><!--
    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">
      Le nom est obligatoire.
    </mat-error>
    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">
      Le nom doit contenir au moins 2 caractères.
    </mat-error>
    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">
      Le nom doit contenir au maximum 50 caractères.
    </mat-error>
  </form>
-->

  <!-- Formulaire de recherche (filtre) -->
  <mat-form-field class="ml-auto">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>


<!--Table with pagination-->
<div class="container-fluid">
  <div class="mat-elevation-z8">
    <table mat-table #tableForfaits [dataSource]="dataSourceForfaits" MatSort>


      <!-- code  -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- nom  -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- categories  -->
      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef> Catégories </th>
        <td mat-cell *matCellDef="let element"> {{element.categories}} </td>
      </ng-container>

      <!-- etablissement  -->
      <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef> Établissement </th>
        <td mat-cell *matCellDef="let element"> {{element.etablissement?.nomEtablissement}} </td>
      </ng-container>

      <!-- date debut  -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
      </ng-container>

      <!-- date fin  -->
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin}} </td>
      </ng-container>

      <!-- prix  -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
      </ng-container>

      <!-- nouveau prix  -->
      <ng-container matColumnDef="nouveauprix">
        <th mat-header-cell *matHeaderCellDef> Nouveau Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.nouveauprix}} </td>
      </ng-container>

      <!-- premium Column -->
      <ng-container matColumnDef="premium">
        <th mat-header-cell *matHeaderCellDef> Premium </th>
        <td mat-cell *matCellDef="let element"> {{element.premium}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let forfait">
          <button mat-icon-button aria-label="Supprimer" (click)="deleteForfait(forfait.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of forfaits"></mat-paginator>
  </div>

</div>
