
<div *ngIf="forfait?.premium==true">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{forfait?.nom}}</mat-card-title>
            <mat-card-subtitle>{{forfait?.etablissement?.nomEtablissement}}</mat-card-subtitle>
            <img mat-card-sm-image src="https://fakeimg.pl/250/" >
        </mat-card-title-group>
        <br>
        <mat-card-content>
            <app-prix [prix]="forfait?.prix || 0" [nouveauprix]="forfait?.nouveauprix"></app-prix>
        </mat-card-content>
        <mat-card-content>
            <p>Date de début: {{forfait?.dateDebut}} <br>
               Date de fin: {{forfait?.dateFin}}</p>
        </mat-card-content>
    </mat-card>
</div>
 